#songsforsale {
    background-color:yellow
}

#currentMgrs {
    background-color: rgb(126, 167, 167)
}
       
#outputAddress {
    background-color: grey
}

#currentAddress {
    background-color: aqua
}

#bandmgrpanel {
    background-color: chartreuse
}

